<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.picpay.desafio.android.feature.home">

    <application>
        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="com.picpay.desafio.android.feature.home.OPEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>