<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.picpay.desafio.android.feature.home">

    <application>
        <activity
            android:name=".ui.HomeActivity"
            android:theme="@style/Knights.AppTheme">

            <intent-filter>
                <action android:name="feature.home.HomeActivity.OPEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>